<template>
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-8 offset-md-2">
						<div class="input-group">
								<input type="search" class="form-control form-control-lg" placeholder="Search for products and brands" v-model="query" v-on:keyup="autoComplete">
								<!-- <div class="input-group-append">
										<button type="submit" class="btn btn-lg btn-default">
												<i class="fa fa-search"></i>
										</button>
								</div> -->
						</div>
						<br>
				</div>
			<div class="col-md-8 offset-md-2" v-if="filterApplied">
				<span class="badge badge-pill badge-primary" v-if="radioFilter.length != 0" v-for ="radio in radioFilter">
										{{ radio }}&nbsp;&nbsp;<a @click='removeTags(filter,"radio")'><i class='fas fa-times-circle' style="color:#fff;"></i></a>
								</span>
								&nbsp;&nbsp;
								<span class="badge badge-pill badge-primary" v-if="checkboxFilter != 0" v-for ="checkbox in checkboxFilter">
										{{ checkbox }}&nbsp;&nbsp;<a @click='removeTags(filter,"checkbox")'><i class='fas fa-times-circle' style="color:#fff;"></i></a>               </span>
								&nbsp;&nbsp;
								<span class="badge badge-pill badge-danger" v-if="radioFilter > 0 || checkboxFilter > 0">
										Clear All&nbsp;&nbsp;<a @click.prevent="clearAllTag()"><i class='fas fa-times-circle' style="color:#fff;"></i></a>
								</span>

				<!-- <li class='tag'  v-for ="filterAppied in filterApplied">
									<a  @click='removeTags(filterAppied)'>X</a>
									<transition name="fade">
										<h4>{{filterAppied}}</h4>
									</transition>
							</li> -->
			</div>
		</div>
		
	</div>
	<div class="row">
			<div class="col-md-2">
			<div class="card"> 
				 <div class="card-header"><h4>Filters</h4></div>
				 <div class="card-body">
					<label style="color:#1e346a">Categories</label>
					<div class="custom-control custom-radio" v-for="(category,index) in categories" @key="index">
									<input class="custom-control-input custom-control-input-primary" name="category" type="radio" v-bind:id="'radio'+'_'+index" v-model="selected.categories" :value="index" @click='setActive(category,"cat")'>
									<label :for="'radio'+'_'+index" class="custom-control-label" name="category" value="">{{ category }}</label>
								</div>	           
								<hr>
								<label style="color:#1e346a">Brands</label>
							 
								<div class="custom-control custom-checkbox" v-for="(brand,index) in brands" @key="index">
									<input class="custom-control-input custom-control-input-primary" type="checkbox" v-bind:id="brand" v-model="selected.brands" :data-name="brand" :value="brand" >
									<label :for="brand" name="brand[]" value="" class="custom-control-label">{{ brand }}</label>
								</div>
							
				 </div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="row" v-if="products.length != '' ">
						<div class="col-md-3" v-for="(product,index) in products" @key="index">
								<div class="card" style="width: 18rem;">

						<img :src="path +'/product/'+product.get_images[0].image_name " class="card-img-top product_image" alt="product.name">
						<div class="card-body">
														<div>
										<h5 class="card-title product_title"  style="color:#1e346a;"><b>{{ product.name }}</b></h5>
										<p class="card-text">{{ product.get_brand.name }}</p>
										<p class="card-text"></p>

										<div class="d-flex justify-content-between">
												<div><i class='fas fa-rupee-sign'></i> <b>{{ product.unit_price }}</b></div>
												<div><b>Min.Qty:</b>{{ product.minimum_ord_qty}}  {{product.get_unit.unit_code }}</div>
										</div>
														</div>
														<hr>
														<form class="productCart">
														<div>
																<div class="form-group row">
																		<label for="'qty'+'_'+product.id" class="col-sm-4 col-form-label">Quantity</label>
																		
																		<div class="col-sm-8">
																				<input type="number" class="form-control quantity" :id="'qty'+'_'+product.id" v-model="quantity[product.id]" :min="product.minimum_ord_qty">
																				<span :id="'error_qty'+'_'+product.id" class="text-danger" ></span>
																		</div>
																</div>
																<div class="form-group row">
																		<label for="'paymentDays'+'_'+product.id" class="col-sm-4 col-form-label">Payment Days</label>
																		<div class="col-sm-8">
																				<select class="form-control" v-model="selectedPayDays[product.id]" :id="'payDays'+'_'+product.id">
																						<option v-for="(option,index) in paymentDays" name="payment_days" v-bind:value="index" >
																								{{ option }}
																						</option>
																				</select>
																				<span :id="'error_payDays_'+product.id" class="text-danger"></span>
																		</div>
																</div>
														</div>
														</form>
							</div>
							<div class="card-footer">
								<div class="d-flex justify-content-between">
										<a href="javascript:void(0);" class="btn btn-primary btn-sm addToQuotation" :data-id="product.id" data-product-name="" @click="addToQuotation">Add to Qutation</a>
																 
										<a href="" class="btn btn-warning btn-sm">Detail</a>
								</div>
							</div>
					</div>
						</div>
					</div>
					<div class="row" v-show="! products.length" id="hide" style="display: none;">
						<div class="col-md-6"> 
							<h4>No products found...</h4>
						</div>
					</div>
					<div v-if="status=='load'">
					<div v-if="products.length" v-observe-visibility="handleScrollToBottom"></div>
				</div>

			</div>
	</div>
</div>
</template>
<script>
const default_layout = "default";


export default {
	computed: {},
		data() {
				return {
					products : [],
					status : 'load',
					path : "https://www.yuzuh.com//admin/upload/images/",
					categories : [],
					brands : [],
					page:1,
					lastPage:1,
					query:'',
					baseUrl:'https://www.yuzuh.com',
					filterApplied:{
								radio :[],
								checkbox:[]
						},
					searchResult:[],
					selected:{
						categories:'',
						brands:[],
					},
					selectedCategory : '',
						radioFilter:[],
						checkboxFilter:[],
						paymentDays:[],
						selectedPayDays:[],
						quantity:[],
						product_id:[],
						errors:{
								quantity:[],
								paymentDays:''
						},
				}
		},

		methods:{
			filterFetch(){
				let url = this.baseUrl+"/api/filters";
				axios.get(url)
					.then(response => {
						if (response.data.success = true) {
							this.categories = response.data.data.categories;
							this.brands = response.data.data.brands;
										this.paymentDays = response.data.data.payment_days;
						}
					})
			},

			productFetch(){
						this.status = 'load';
				let url = this.baseUrl+"/api/product-list?page="+this.page;
				axios.get(url)
					.then(response => {
						if (response.data.success = true) {
							this.products.push(...response.data.product.data);
							this.lastPage = response.data.product.last_page;
							
							// if (response.data.product.current_page <= response.data.product.last_page) {
							// 	this.page++
							// }
							
							// this.categories = response.data.data.categories;
							// this.brands = response.data.data.brands;
						}
					})
			},

			handleScrollToBottom(isVisible){
				if (!isVisible) {return}
				if (this.page >= this.lastPage) {return}
			this.page++
			if (this.query.length === 0) {
				this.productFetch()
			}
			},
			autoComplete()
			{
				if (this.query.length>=3) {
					let url = this.baseUrl+"/api/search";
					axios.post(url,{
						query:this.query
					})
					.then(response =>{
						if (response.data.success = true) {
							console.log(response.data);
							this.page = 1;
								this.products = response.data.product;
								// this.lastPage = response.data.product.last_page;
								
								// if (response.data.product.current_page <= response.data.product.last_page) {
								// 	this.page++
								// }
								
								// this.categories = response.data.data.categories;
								// this.brands = response.data.data.brands;
							}
					})
				}
				else
				{
					this.page = 1;
					this.products = [];
					this.productFetch();
				}
			},
			loadProducts(){
				this.status = 'filters';
				let url = this.baseUrl+"/api/products/filters";
				axios.post(url,{
					filters: this.selected
				})
					.then(response => {
						if (response.data.success = true) {
							this.products = response.data.product;
							// this.lastPage = response.data.product.last_page;
							
							// if (response.data.product.current_page <= response.data.product.last_page) {
							// 	this.page++
							// }
							
							// this.categories = response.data.data.categories;
							// this.brands = response.data.data.brands;
						}
					})
			},
			
			removeTags : function (item,status) {
						if (status == 'radio') {

							// this.filterApplied.radio.pop(item)
								this.radioFilter.pop(item);
						}
						else
						{
								this.checkboxFilter.pop(item);
								// this.filterApplied.checkbox.pop(item)
								console.log(this.selected.categories);
								// this.selected.categories.pop(item)
						}
			},
			setActive: function(element,status){
				
				if (status == 'cat') {
					if(jQuery.inArray(this.selectedCategory, this.radioFilter) !== -1){
						this.radioFilter.pop(element)
						this.selectedCategory = element
					}
					else
					{
						this.selectedCategory = element;
					}

					this.radioFilter.push(this.selectedCategory);
				}
						console.log(this.radioFilter);
		},
				check: function() {
						let tempCheckbox = [];
						$.each(this.selected.brands,function(key,value){
								console.log(value);
								tempCheckbox.push(value);
						})
						console.log(tempCheckbox);
						this.checkboxFilter.push(tempCheckbox);
						// this.filterApplied.checkbox.push(this.selected.brands);
				},
				clearAllTag :function(){
						this.radioFilter = [];
						this.checkboxFilter = [];
						this.productFetch()
				},
				addToQuotation:function(event){
						console.log('hi');
						let product_id = event.target.getAttribute('data-id');
						$('#error_qty_'+product_id).text('');
						$('#error_payDays_'+product_id).text('');

						let quantity = $('#qty_'+product_id).val();
						let paymentDays = $('#payDays_'+product_id).val();


						if (quantity == '') {
								$('#error_qty_'+product_id).text('Quantity required');
						}
						if (paymentDays == '' || paymentDays==null) {
								$('#error_payDays_'+product_id).text('Please select payment days field');
						}

						if (quantity == '' && paymentDays == '') {
								$('#error_qty_'+product_id).text('Quantity required');
								$('#error_payDays_'+product_id).text('Please select payment days field');
						}

						if (this.quantity!='' && this.selectedPayDays!='') {

								let formData ={
										product_id : product_id,
										quantity : quantity,
										paymentDays : paymentDays
								}
								this.quantity = []
								this.selectedPayDays = []

								let url = this.baseUrl+"/distributor/products/add-quoation";
								axios.post(url,{
										params:formData
								})
								.then(response => {
										console.log(response);
										if (response.data.success == true) {
												toastr.success('Product Added to cart');
												$('#error_qty_'+product_id).text('');
												$('#error_payDays_'+product_id).text('');
												$('#span_cart_count').text(response.data.cart_count);
										}
										else
										{
												let message = response.data.message;
												toastr.error(message);
										}
								})
						}
				}

		},

		beforeMount()
		{
			this.filterFetch()
			this.productFetch()
		},
		
		mountend()
		{
				this.handleScrollToBottom()
		},

		watch: {
				selected: {
						handler: function () {
								this.loadProducts();
								this.check();
						},
						deep: true
				}
		},
};
</script>