/*
#overlay {
    background: rgba(255,255,255,.8);
    position: fixed;
    z-index: 10001;
    height: 100%;
    width: 100%;
    overflow: hidden; 
    text-align:center;

}

#overlay i {
   
}
.spin-big {
    font-size: 50px;
    height: 50px;
    width: 50px;
 
}*/

#loader {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
}

/* Transparent Overlay */
#loader:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
}

/* :not(:required) hides these rules from IE9 and below */
#loader:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

#loader:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 50px;
  height: 50px;
  margin-top: -0.5em;

  border: 15px solid rgb(255, 140, 0);
  border-radius: 100%;
  border-bottom-color: transparent;
  -webkit-animation: spinner 1s linear 0s infinite;
  animation: spinner 1s linear 0s infinite;


}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.remove-bac-color{background-color:inherit!important;border:medium none!important;outline:inherit!important}.mtb-10{margin-top:10px;margin-bottom:10px}.plr-15{padding-left:15px!important;padding-right:15px!important}.bootstrap-timepicker-widget.dropdown-menu.open{width:200px;left:15px}.selectIconSection span.select2-selection.select2-selection--single{height:34px}.content-wrapper{width:100%;overflow:hidden}body{background:#ecf0f1}.custom-cherad-button label{position:relative;display:inline-block;margin-right:10px;margin-bottom:10px;padding-left:30px;padding-right:10px;line-height:36px;cursor:pointer}.custom-cherad-button label::before{content:" ";position:absolute;top:6px;left:0;display:block;width:24px;height:24px;border:2px solid #8e44ad;border-radius:4px;z-index:1}.custom-cherad-button label span{position:relative;z-index:2}.custom-cherad-button input[type="radio"] + label::before{border-radius:18px}.custom-cherad-button input[type="checkbox"]:checked + label,.custom-cherad-button input[type="radio"]:checked + label{padding-left:10px;color:#fff}.custom-cherad-button input[type="checkbox"]:checked + label::before,.custom-cherad-button input[type="radio"]:checked + label::before{top:0;width:100%;height:100%;background:#8e44ad}.custom-cherad-button label,.custom-cherad-button label::before{-webkit-transition:.25s all ease;-o-transition:.25s all ease;transition:.25s all ease}.checkbox.purple input{position:inherit;margin:0 auto}.center-input{position:relative}.custom-editor{width:100%;height:200px;font-size:14px;line-height:18px;border:1px solid #ddd;padding:10px}.slider-positioner{display:table}.slider-positioner .srow{display:table-row}.slider-positioner .position{display:table-cell}.slider-positioner .position label{display:block;margin:0;font-weight:400}.slider-positioner .position input[type="radio"]{display:none}.slider-positioner .position input[type="radio"] + .pos-box{width:120px;height:50px;cursor:pointer;background-color:#eee;border:1px solid #ccc;display:flex;align-items:center;justify-content:center;transition:all 0.3s ease-in-out}.slider-positioner .position input[type="radio"]:checked + .pos-box{background-color:#1e346a;border-color:#1e346a;color:#fff}.timpickercustom .input-group[class*=col-]{float:left;padding:0 15px}table.table.table-bordered.rightside-table td{height:47px;vertical-align:middle}.blue-background{background-color:#332D73!important}.blue-border{border-color:#332D73!important}